<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <!-- ===== CSS =====
        <link rel="stylesheet"  th:href="@{/css/hub/clients/styles-free.css}"> -->
        <link th:replace="hub/layouts/layout-client-free::css_free">

        <title>MPT | MyPocketTrainer</title>
    </head>
    <body id="body-pd">
        <header th:replace="hub/layouts/layout-client-free::header"></header>

        <div th:replace="hub/layouts/layout-client-free::navbar"></div>

        <div class="container">
            <div class="card bg-light">
                <div class="card-header">
                    <h3>RUTINAS PROGRAMADAS:</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Routine Id</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="routine: ${routines}">
                                <td th:text="${#strings.toString(routine.routine_id)}"></td>
                                <td th:text="${routine.routine_name}"></td>
                                <td th:text="${routine.routine_description}"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <p>FOOTER</p>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="card bg-light">
                <div class="card-header">
                    <h3>DIETAS PROGRAMADAS:</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id Dieta</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="diet: ${diets_list}">
                                <td th:text="${#strings.toString(diet.diet_id)}"></td>
                                <td th:text="${diet.diet_name}"></td>
                                <td th:text="${diet.diet_description}"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <p>FOOTER</p>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        
        <!--===== MAIN JS =====-->
        <!-- <script th:src="@{/js/hub/clients/main-free.js}"></script> -->
        <script th:replace="hub/layouts/layout-client-free::js_free"></script>
    </body>
</html>