<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS =====
        <link rel="stylesheet"  th:href="@{/css/hub/clients/styles-free.css}"> -->
        <link th:replace="hub/layouts/layout-client-free::css_free">

        <title>MPT | MyPocketTrainer</title>
    </head>
    <body id="body-pd">
        <header th:replace="hub/layouts/layout-client-free::header"></header>

        <div th:replace="hub/layouts/layout-client-free::navbar"></div>

        
        <!--===== MAIN JS =====-->
        <!-- <script th:src="@{/js/hub/clients/main-free.js}"></script> -->
        <script th:replace="hub/layouts/layout-client-free::js_free"></script>
    </body>
</html>