<!--======================================-->
<!--=========== VIEW INFO MODALS =============-->
<!--======================================-->
<div th:fragment="modal__recipe" class="modal">
    <div th:replace="hub/layouts/layout-tables::recipes"></div>
</div>

<div th:fragment="modal__exercise" class="modal">
    <div th:replace="hub/layouts/layout-tables::exercises"></div>
</div>


<!--======================================-->
<!--=========== LEARN MODALS =============-->
<!--======================================-->

<div th:fragment="modal__plan__info" class="modal">
    <div class="card">
        <span class="material-icons" id="close__modal">close</span>
        <div class="left">
            <h2>Create a new plan for your client</h2>

            <h4>You are only a few the steps away !!</h4>
        </div>
        
        <div class="right">
            <h6>1) Click the create button</h6>
            <h6>2) Once clicked add your diet to the daily plan</h6>
            <h6>3) Add your routine to the daily plan</h6>
            <h6>4) Add the rest of the daily plans</h6>
        </div>
    </div>
</div>