<main th:fragment="main">
    <aside th:replace="hub/layouts/layout-aside-professional::aside"></aside>
    
    <section class="middle">
        <h2>
            Añada nuevos clientes
        </h2>
        <form class="search__form" th:action="@{/professionals/professional-basic/save-client}" th:object="${new_client}" method="POST">
            <div class="icon__search__bar">
                <span class="material-icons">search</span>
            </div>
            <input type="text" th:field="*{user_name}" placeholder="Search with the clients username">
            <button type="submit" class="btn search__btn">Add Client</button>
        </form>
    </section>
    
    <section class="right">
        
    </section>
</main>