<div th:fragment="recap" class="recap">
    <div class="report">
        <h3>Income</h3>
        <div>
            <details>
                <h1>$569,96</h1>
                <h6 class="color__success">+4.5%</h6>
            </details>
            <p class="text__muted">Compared to the the %345,6 from last month.</p>
        </div>
    </div>

    <div class="report">
        <h3>Income</h3>
        <div>
            <details>
                <h1>$569,96</h1>
                <h6 class="color__success">+4.5%</h6>
            </details>
            <p class="text__muted">Compared to the the %345,6 from last month.</p>
        </div>
    </div>

    <div class="report">
        <h3>Income</h3>
        <div>
            <details>
                <h1>$569,96</h1>
                <h6 class="color__error">-4.5%</h6>
            </details>
            <p class="text__muted">Compared to the the %345,6 from last month.</p>
        </div>
    </div>

    <div class="report">
        <h3>Income</h3>
        <div>
            <details>
                <h1>$569,96</h1>
                <h6 class="color__success">+4.5%</h6>
            </details>
            <p class="text__muted">Compared to the the %345,6 from last month.</p>
        </div>
    </div>
</div>

<div th:fragment="add" class="badge">
    <span class="material-icons">add</span>
</div>

<div th:fragment="badge" class="badge">
    <span class="bg__yellow"></span>
    <div>
        <h5>Training</h5>
        <h4>$50</h4>
    </div>
</div>

<!--=============== BUTTONS ===============-->
<div th:fragment="add__exercise" class="add__something">
    <span class="material-icons">add</span>
    <h3>Add Exercise</h3>
</div>

<div th:fragment="add__routine" class="add__something">
    <span class="material-icons">add</span>
    <h3>Add Routine</h3>
</div>

<div th:fragment="add__recipe" class="add__something">
    <span class="material-icons">add</span>
    <h3>Add Recipe</h3>
</div>

<div th:fragment="add__diet" class="add__something">
    <span class="material-icons">add</span>
    <h3>Add Diet</h3>
</div>

<div th:fragment="add__client" class="add__something">
    <span class="material-icons">add</span>
    <h3><a th:href="@{/professionals/professional-basic/add-client}">Add Client</a></h3>
</div>

<!--============ SEARCH BAR +  BUTTON ==============-->
<div th:fragment="search-bar" class="search__bar">
    <span class="material-icons">search</span>
    <input type="search" placeholder="Search for MPT users">
</div>

<div th:fragment="search-btn" class="btn" id="search__button">
    <label for="">Search</label>
</div>

<!-- FOLLOWERS AND FOLLOWED SECTION -->
<div th:fragment="message" class="message">
    <div class="profile__photo">
        <span class="material-icons">account_circle</span>
    </div>
    <div class="message__body">
        <h5>Jaime Arana</h5>
        <p class="text__muted">textooooo</p>
    </div>
</div>

<div th:fragment="messages" class="messages">
    <div class="heading">
        <h4>Followed users</h4>
        <div class="search__bar">
            <span class="material-icons">search</span>
            <input type="search" placeholder="Search for an user" id="search__bar__messages">
        </div>

        <div class="message">
            <div class="profile__photo">
                <span class="material-icons">account_circle</span>
            </div>
            <div class="message__body">
                <h5>Jaime Arana</h5>
                <p class="text__bold">2 new messages</p>
            </div>
        </div>
        <div class="message">
            <div class="profile__photo">
                <span class="material-icons">account_circle</span>
            </div>
            <div class="message__body">
                <h5>Jaime Arana</h5>
                <p class="text__muted">textooooo</p>
            </div>
        </div>
        <div class="message">
            <div class="profile__photo">
                <span class="material-icons">account_circle</span>
            </div>
            <div class="message__body">
                <h5>Jaime Arana</h5>
                <p class="text__muted">textooooo</p>
            </div>
        </div>
        <div class="message">
            <div class="profile__photo">
                <span class="material-icons">account_circle</span>
            </div>
            <div class="message__body">
                <h5>Jaime Arana</h5>
                <p class="text__muted">textooooo</p>
            </div>
        </div>
    </div>
</div>

<div th:fragment="requests" class="requests">
    <h4>Requests</h4>
    <div class="request">
        <div class="info">
            <div class="profile__photo">
                <span class="material-icons">account_circle</span>
            </div>
            <div>
                <h5>Jaime Arana</h5>
                <p class="text__muted">6 mututal friends</p>
            </div>
        </div>
        <div class="action">
            <button class="btn" id="btn__accept">Accept</button>
            <button class="btn" id="btn__decline">Decline</button>
        </div>
    </div>
    <div class="request">
        <div class="info">
            <div class="profile__photo">
                <span class="material-icons">account_circle</span>
            </div>
            <div>
                <h5>Jaime Arana</h5>
                <p class="text__muted">6 mututal friends</p>
            </div>
        </div>
        <div class="action">
            <button class="btn" id="btn__accept">Accept</button>
            <button class="btn" id="btn__decline">Decline</button>
        </div>
    </div>
    <div class="request">
        <div class="info">
            <div class="profile__photo">
                <span class="material-icons">account_circle</span>
            </div>
            <div>
                <h5>Jaime Arana</h5>
                <p class="text__muted">6 mututal friends</p>
            </div>
        </div>
        <div class="action">
            <button class="btn" id="btn__accept">Accept</button>
            <button class="btn" id="btn__decline">Decline</button>
        </div>
    </div>
    <div class="request">
        <div class="info">
            <div class="profile__photo">
                <span class="material-icons">account_circle</span>
            </div>
            <div>
                <h5>Jaime Arana</h5>
                <p class="text__muted">6 mututal friends</p>
            </div>
        </div>
        <div class="action">
            <button class="btn" id="btn__accept">Accept</button>
            <button class="btn" id="btn__decline">Decline</button>
        </div>
    </div>
</div>