<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--=============== CSS ===============-->
    <link th:fragment="css-modal" rel="stylesheet" th:href="@{/css/layouts/pop-up-modal.css}">

    <title>Document</title>
</head>
<body>
    <div th:fragment="pop-up-modal" class="modal container">
        <button class="modal__button" id="open-modal">
            Open Modal
        </button>

        <div class="modal__container" id="modal-container">
            <div class="modal__content">
                <div class="modal__close close-modal" title="Close">
                    <i class='bx bx-x'></i>
                </div>

                <img src="assets/img/star-trophy.png" alt="" class="modal__img">

                <h1 class="modal__title">Good Job!</h1>
                <p class="modal__description">Click the button to close</p>

                <button class="modal__button modal__button-width">
                    View status
                </button>

                <button class="modal__button-link close-modal">
                    Close
                </button>
            </div>
        </div>
    </div>

    <div th:fragment="prueba">
        <button class="modal__button" id="open-modal">
            Open Modal
        </button>

        <div class="modal__container" id="modal-container">
            <div class="modal__content">
                <div class="modal__close close-modal" title="Close">
                    <i class='bx bx-x'></i>
                </div>

                <img src="assets/img/star-trophy.png" alt="" class="modal__img">

                <h1 class="modal__title">Good Job!</h1>
                <p class="modal__description">Click the button to close</p>

                <button class="modal__button modal__button-width">
                    View status
                </button>

                <button class="modal__button-link close-modal">
                    Close
                </button>
            </div>
        </div>
    </div>

    <!--=============== MAIN JS ===============-->
    <script th:fragment="js-modal" th:href="@{/js/layouts/pop-up-modal.js}"></script>
</body>
</html>