<main th:fragment="main">
    <aside th:replace="hub/layouts/layout-aside-professional::aside"></aside>
    
    <section class="middle">
        <div class="container">
            <div class="card bg-light">
                <div class="card-header">
                    <h3>CLIENTES:</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id Cliente</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Nombre de usuario</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="client: ${clients_list}">
                                <td th:text="${#strings.toString(client.user_id)}"></td>
                                <td th:text="${client.first_name}"></td>
                                <td th:text="${client.last_name}"></td>
                                <td th:text="${client.user_name}"></td>
                                <td><a th:href="@{/professionals/professional-basic/delete-client/} + ${#strings.toString(client.user_id)}"
                                        th:text="'Eliminar'" class="btn btn-outline-danger"></a></td>
                                <!-- <td><a th:attr="onclick=|configurarDietaParaCliente('${client.user_name}')|" class="btn btn-outline-info" th:text="'Configurar Dieta'"></a></td> -->
                                <td><a th:href="@{/professionals/professional-basic/my-diets/} + ${client.user_name}"
                                        th:text="'Configurar Dieta'" class="btn btn-outline-info"></a></td>
                                <td><a th:href="@{/professionals/professional-basic/my-routines/} + ${client.user_name}"
                                        th:text="'Configurar Rutina'" class="btn btn-outline-info"></a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <a th:href="@{/professionals/professional-basic/add-client}"
                                        class="btn btn-outline-primary btn-block">Añadir Cliente</a>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
    
    <section class="right">
        
    </section>
</main>