/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/

  --first-color: #ffffff;
  --second-color: #f9db6d;
  --third-color: #9daaf2;
  --fourth-color: #ff6a3d;
  --fifth-color: #1a2238;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== Margenes ==========*/
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

section .pricing {
  padding: 0 0 0 0;
}

.pricing {
  position: relative;
  height: 650px;
  width: 1075px;
  display: flex;
  align-items: center;
  /* margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5); */
}

.swiper {
  width: 1000px;
}

.price-box {
  position: relative;
  border-radius: 10px;
  margin: 20px 0;
}

.price-box::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: none;
  border-radius: 10px 10px 0 0;
}

/* .price-box {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.price-box::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: none;
  border-radius: 20px 20px 0 0;
} */

.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #ebebeb;
  border-bottom: none;
  position: relative;
}

.plan-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 5px;
}

.plan-name strong {
  color: #2b2a31;
  font-size: 1.5rem;
  margin: 5px 0px;
}

.plan-name span {
  color: #2b2a31;
  font-size: 0.8rem;
}

.plan-img {
  width: 160px;
  height: 117px;
}

.plan-img svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.price strong {
  font-size: 4rem;
  color: #19181e;
}

.price span {
  color: #292929;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.per-month {
  font-size: 0.8rem;
  color: #2b2a31;
}

.features-section {
  border-top: 1px solid #c9c9c9;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ebebeb;
}

.feature-box {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}

.feature-box i {
  color: #462ebd;
  margin-right: 7px;
  font-size: 0.9rem;
}

.feature-box span {
  color: #242424;
  font-size: 0.8rem;
}

.feature-box:hover {
  background-color: #f6f6f6;
  transition: all ease 0.3s;
}

.feature-details {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #242424;
  color: #ebebeb;
  border-radius: 8px;
  font-size: 0.9rem;
  text-align: center;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display: none;
  animation: fade 0.2s;
}

.feature-details::after {
  content: "";
  width: 0px;
  height: 0px;
  border-bottom: 5px solid transparent;
  border-left: 7px solid transparent;
  border-top: 7px solid #242424;
  border-right: 5px solid transparent;
  position: absolute;
  left: 50%;
  top: 100%;
}

.feature-box:hover .feature-details {
  display: block;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.choose-plan-btn {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #252236;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

#choose__free:hover {
  color: var(--second-color);
  border-bottom: 1px solid var(--second-color);
  transition: all ease 0.2s;
}

#choose__premium:hover {
  color: var(--fourth-color);
  border-bottom: 1px solid var(--fourth-color);
  transition: all ease 0.2s;
}

#choose__basic:hover {
  color: var(--fifth-color);
  border-bottom: 1px solid var(--fifth-color);
  transition: all ease 0.2s;
}

#choose__business:hover {
  color: var(--third-color);
  border-bottom: 1px solid var(--third-color);
  transition: all ease 0.2s;
}

.price-box:hover .top-section,
.price-box:hover .features-section {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.09);
}

.top-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  border-radius: 20px;
  padding: 10px 25px;
  color: #ffffff;
  background-color: #2c2c2c;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
}

/*************** BOTONES DEL SWIPER *****************/

.swiper-pagination {
  position: absolute;
}

.swiper-pagination-bullet {
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: var(--fifth-color);
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: var(--fifth-color);
  transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: var(--fifth-color);
}

/* .free .top-section {
    background-color: var(--second-color);
} */

@media (max-width: 1160px) {
  .price-box-container {
    width: 800px;
  }

  .price-box {
    flex-grow: 1;
  }
}

@media (max-width: 810px) {
  .price-box-container {
    width: 100%;
  }
}

@media (max-width: 570px) {
  .price-box {
    width: 100%;
    margin: 20px 10px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  }
}
