<main th:fragment="main">
    <aside th:replace="hub/layouts/layout-aside/client/client::aside-mpt-finder"></aside>
    
    <section class="middle">
        <div th:if="${isPublic}">
            <!-- <div th:replace="hub/layouts/layout-tables::my_routines_mpt"></div> -->
            <!-- <div th:replace="hub/layouts/layout-tables::my_diets_mpt"></div> -->
            <div th:replace="hub/layouts/layout-tables::routines_mpt"></div>
            <div th:replace="hub/layouts/layout-tables::exercises_mpt"></div>
            <div th:replace="hub/layouts/layout-tables::diets_mpt"></div>
            <div th:replace="hub/layouts/layout-tables::recipes_mpt"></div>
            <div>
                <div style="display: flex; justify-content: center; align-items: center;">
                    <h1>Planes semanales</h1>
                </div>
                <div th:replace="hub/layouts/layout-tables::plans_mpt"></div>
            </div>
        </div>
        
        <div style="display: flex; align-items: center; justify-content: center;" th:if="${isPrivate}">
            <h2>El profesional <span th:text="${professional_username}"></span> tiene la cuenta privada.</h2>
        </div>
    </section>

    <section class="right">
        <div th:replace="hub/layouts/layout-tools::messages"></div>
        <div th:replace="hub/layouts/layout-tools::requests"></div>
    </section>
</main>