<main th:fragment="main">
    <aside th:replace="hub/layouts/layout-aside/professional/professional::aside-diets"></aside>
    
    <section class="middle">
        <div class="container_form_basic">
            <div>
                <h1>Add Diet</h1>
            </div>
        
            <form th:action="@{/professionals/professional-basic/save-diet}" th:object="${new_diet}" method="POST">
                <div id="name" class="input__text">
                    <input type="text" th:field="*{diet_name}" placeholder="Diet name"> 
                </div>

                <div id="description" class="input__text">
                    <input type="text" th:field="*{diet_description}" placeholder="Diet description">
                </div>
                
                <button type="submit" id="table__btn__config" class="btn">Add Diet</button>
            </form>
        
            <div style="margin-top: 1rem; display: flex; justify-content: center; align-items: center;">
                <a class="btn" th:href="@{/professionals/professional-basic/my-diets/}">Volver a ver la lista de dietas</a>
                <span class="material-icons">keyboard_return</span>
            </div>
        </div>
    </section>

    <section class="right">
        
    </section>
</main>