<main th:fragment="main">
    <aside th:replace="hub/layouts/layout-aside/professional/professional::aside"></aside>
    
    <section class="middle">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" class="container">
            <h2>Add Exercise</h2>
        
            <form th:action="@{/professionals/professional-basic/save-exercise}" th:object="${new_exercise}" method="POST" enctype="multipart/form-data">
                <input type="text" th:field="*{exercise_name}" placeholder="Exercise name" >
                <input type="text" th:field="*{exercise_description}" placeholder="Exercise description" >

                <input type="text" th:field="*{number_repetitions}" placeholder="Number of repetitions">
                <input type="text" th:field="*{resting_time}" placeholder="Resting Time">
                
                <label>Foto: </label>
                <input type="file" th:field="*{image}" name="image" accept="image/png, image/jpeg, image/gif" />

                <hr>
                <p>
                    <label>EQUIPMENT:
                        <input type="checkbox" name="equipment"
                            th:each="e: ${equipment}"
                            th:text="${e}"
                            th:value="${e}"
                            th:field="*{equipment}"
                        />
                    </label>
                </p>

                <hr>

                <p>
                    <label>BODY PARTS:
                        <input type="checkbox" name="parts"
                            th:each="part: ${parts}"
                            th:text="${part}"
                            th:value="${part}"
                            th:field="*{parts}"
                        />
                    </label>
                </p>
                
                <hr>
                <button type="submit" class="btn">Add Exercise</button>
            </form>

            <hr>
        
            <a th:href="@{/professionals/professional-basic/my-exercises/}"> Volver a ver la lista de ejercicios</a>
        </div>
    </section>

    <section class="right">
        
    </section>
</main>