<main th:fragment="main">
    <aside th:replace="hub/layouts/layout-aside/professional/professional::aside-recipes"></aside>
    
    <section class="middle">
        <div class="container_form_basic">
            <h2>Add Recipe</h2>
            
            <form th:action="@{/professionals/professional-basic/save-recipe}" th:object="${new_recipe}" method="POST" enctype="multipart/form-data">
                <div id="name" class="input__text">
                    <input type="text" th:field="*{recipe_name}" placeholder="Recipe name" class="form-control mb-4 col-4"> 
                </div>

                <div id="description" class="input__text">
                    <input type="text" th:field="*{recipe_description}" placeholder="Recipe description" class="form-control mb-4 col-4">
                </div>

                <div class="image">
                    <label>Foto: </label>
                    <input type="file" th:field="*{image}" name="image" accept="image/png, image/jpeg, image/gif" />    
                </div>

                <div class="checkboxes">
                    <div class="tools">
                        <div style="margin-top: 1rem; margin-bottom: 1rem;">
                            <h5>Tools</h5>
                        </div>
                        <label class="tools__label">
                            <input type="checkbox" name="tools"
                                th:each="tool: ${tools}"
                                th:text="${tool}"
                                th:value="${tool}"
                                th:field="*{tools}"
                            />
                        </label>
                    </div>
    
                    <div class="ingredients">
                        <div style="margin-top: 1rem; margin-bottom: 1rem;">
                            <h5>Ingredients</h5>
                        </div>
                        <label class="ingredients__label">
                            <input type="checkbox" name="ingredients"
                                th:each="ingredient: ${ingredients}"
                                th:text="${ingredient}"
                                th:value="${ingredient}"
                                th:field="*{ingredients}"
                            />
                        </label>
                    </div>  
                </div>

                <div class="checkboxes">
                    <div class="nutritional">
                        <div class="input__text">
                            <input type="text" th:field="*{calories}" placeholder="Recipe calories">
                        </div>

                        <div class="input__text">
                            <input type="text" th:field="*{fat}" placeholder="Recipe fat"> 
                        </div>

                        <div class="input__text">
                            <input type="text" th:field="*{carbs}" placeholder="Recipe carbs">
                        </div>

                        <div class="input__text">
                            <input type="text" th:field="*{protein}" placeholder="Recipe protein">
                        </div>
                    </div>
                    <div class="additional">
                        <div class="input__text">
                            <input type="text" th:field="*{cooking_time}" placeholder="Recipe cooking time">
                        </div>
                        <div class="input__text">
                            <input type="text" th:field="*{price}" placeholder="Recipe price">
                        </div>
                    </div>
                </div>

                <div class="type">
                    <label for="professional">
                        <input type="radio" id="DINNER" name="DINNER" value="DINNER" th:field="*{type}">
                        Dinner
                    </label>
                    
                    <label for="professional">
                        <input type="radio" id="LUNCH" name="LUNCH" value="LUNCH" th:field="*{type}">
                        Lunch
                    </label>

                    <label for="professional">
                        <input type="radio" id="SNACK" name="SNACK" value="SNACK" th:field="*{type}">
                        Snack
                    </label>
                    
                    <label for="professional">
                        <input type="radio" id="BREAKFAST" name="BREAKFAST" value="BREAKFAST" th:field="*{type}">
                        Breakfast
                    </label>
                </div>

                <button type="submit" id="table__btn__config" class="btn">Add Recipe</button>
            </form>

            <hr>
        
            <a th:href="@{/professionals/professional-basic/my-recipes/}"> Volver a ver la lista de recetas</a>
        </div>
    </section>

    <section class="right">
        
    </section>
</main>