<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <!-- ===== CSS ===== -->
        <link rel="stylesheet"  th:href="@{/css/hub/professionals/styles-basic.css}">

        <title>MPT | MyPocketTrainer</title>
    </head>
    <body id="body-pd">
        <header th:replace="hub/layouts/layout-professional-business::header"></header>

        <div th:replace="hub/layouts/layout-professional-business::navbar"></div>

        <div class="container"></div>

        <!--===== MAIN JS =====-->
        <script th:src="@{/js/hub/professionals/main-basic.js}"></script>
    </body>
</html>